<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{{siteRootPath}}}/">Neo4j Code Graph</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{{siteRootPath}}}/neo4j-code-graph/0.1/index.html">Home</a>
      <a class="navbar-item" href="{{{siteRootPath}}}/neo4j-code-graph/0.1/queries/index.html">Queries</a>
    </div>
  </div>
</nav>
